body {
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
  position: relative;
  min-height: 100%;
}

#main-navbar {
  margin-bottom: 1rem;
}

.forum-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #e9ecef;
}

.clickable-row:hover {
  background-color: #eee;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  background-color: #212529;
  padding: 1rem;
  color: #fff;

  position: absolute;
  bottom: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

td {
  word-wrap: break-word;
}
