body {
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
  position: relative;
  min-height: 100%;
}

#main-navbar {
  margin-bottom: 1rem;
}

.forum-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #e9ecef;
}

.clickable-row:hover {
  background-color: #eee;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  background-color: #212529;
  padding: 1rem;
  color: #fff;

  position: absolute;
  bottom: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

td {
  word-wrap: break-word;
}

.card-block {
  padding: 1.25rem;
}

.card-responses {
  padding-top: 0.5rem;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 0.5rem;
}

.card-response {
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.pointer {
  cursor: pointer;
}
